/* || general styles */

body{
  background-color: #0f171e;
}

.column1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin: 0 auto;
  margin-top: 6vh;
  margin-left: 6vw;
  margin-right: 6vw;
  
  
  
}

.column1 img{
  width: 100%;
}

#logo{
  width: 10%;
  margin-bottom: 30px;
  margin-top: 1.5vh;
  margin-left: 1vw;
}


section{
  position: relative;
  
}

section:hover > article, section:focus > article{
  display: block;
  transition-duration: 1s;
  cursor: pointer;
  
}

section > article {
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  width: 100%;
  height: 100%;
  display: none;
  overflow-y: auto;
  padding: 10px;
  background: rgba(0,0,0,0.9);
  color: white;
  font-family: 'Quicksand', sans-serif;
   
 
}

section > article > h2{
  font-family: 'Anton', sans-serif;
}

section > article > h3{
  text-decoration: underline;
}

section > article > h4{
  margin-top: -10px;
}

section > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

section > article > iframe{
  height: 40%;
  width: 100%;
  background-color: grey;
  
}

form{
  margin-left: 6vw;
  margin-top: 2vh;
}

form > label{
  color: #0f171e;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  margin-right: 20px;
  background: #00abe7;
  padding:10px;
  border-radius: 10px;

}



input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: lightsteelblue;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #0f171e;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }




.remove {
  display: none;
}

.loading {
  background-color: #003243 ;
  height: 100%;
  width: 100%;
}

.loading img {
  display: block;
  margin: auto;
  width: 60%;
}



/*

#foto3{
  width: 103.5%;
}

#foto6{
  width: 101%;
}

*/

