/* || general styles */

body{
  background-color: #0f171e;
}

.column1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin: 0 auto;
  margin-top: 4vh;
  margin-left: 6vw;
  margin-right: 6vw;
  
  
}

.column1 img{
  width: 100%;
}


section{
  position: relative;
  
}

section:hover > article, section:focus > article{
  display: block;
  transition-duration: 1s;
  
}

section > article {
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  width: 100%;
  height: 100%;
  display: none;
  overflow-y: auto;
  padding: 10px;
  background: rgba(0,0,0,0.8);
  color: white;
  font-family: 'Quicksand', sans-serif;
  
  
 
}

section > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}










/*

#foto3{
  width: 103.5%;
}

#foto6{
  width: 101%;
}

*/

